*{
  padding: 0;
  margin: 0;
  color: #222;
}
html,body{
  width: 280px;
}
:root{
  --blue: #009aff;
}
#renderBox{
  border: 1px solid rgba(0,0,0,.1);
  padding: 20px;
}
.title{
  margin-bottom: 27px;
}
.title h2,.title a{
  font-size: 14px;
  font-weight: normal;

}
.title h2{
  float: left;
}
.title a{
  float: right;
  color: var(--blue);
}
.mode{
  margin-bottom: 13px;
  cursor: pointer;
}
.mode > span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.mode.active > span{
  border: 3px solid  var(--blue);
  background-color: #fff;
}



.clr{
  zoom: 1;

}
.clr:after{
  content: '';
  clear: both;
  display: block;
}
