
/**
 *  Setting: Focus/Read setting dailog
*/

sr-opt-focus,
sr-opt-read {
    display: -webkit-flex;
    flex-direction:column;

    width: 100%;
}

sr-opt-gp {
    position: relative;
    width: 100%;
    margin-bottom: 17px;
    font-size: 15px;
}
sr-opt-gp > .link {
    display: inline-block;
    width: 100%;
    color: #111;
    font-size: 14px;
    text-decoration: none;
}
sr-opt-gp.feedback,sr-opt-gp > .link{
    line-height: 22px;
}
sr-opt-gp > .link > i{
    color: #747474;
    font-size: 12px;
    float: right;
}
sr-opt-gp textarea, sr-opt-gp input {
    font-family: Inconsolata, "Operator Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace!important;
}

sr-opt-gp sr-opt-label {
    display: block;
    height: 22px;
    line-height: 22px;
    font-size: 14px;

    color: #111;

    user-select: none;
    pointer-events: none;
}

div.simpread-read-root sr-opt-themes {
    display: -webkit-flex;
    flex-flow:row nowrap;
    justify-content:space-between;

    width: 100%;
    /*height: 100%;*/

    margin: 14px 0;
    padding: 0;
}

div.simpread-read-root sr-opt-theme {
    width: 34px;
    height: 34px;
    line-height: 32px;
    list-style: none;
    text-align: center;
    border-radius: 50%;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

div.simpread-read-root sr-opt-theme:hover {
    border-color: #069cff;
}

div.simpread-read-root sr-opt-theme:not(:first-child) {
    margin-left: 15px;
}

div.simpread-read-root sr-opt-theme[sr-type="active"] {
    border-color: #069cff;
}

.audio-box{
    position: absolute;
    right: 30px;
    top: 50px;
    width: 278px;
    height: 138px;
    padding: 24px 15px 24px 24px;
    background: #fff;
    
    border-radius: 3px;

    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.26);
}
.audio-box .close{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    cursor: pointer;
    color: #5e5e5e;
}
.play-settings > span{
    display: inline-block;
    cursor: pointer;
}
.play-settings{
    text-align: center;
}
.middle-audio{
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: 0 28px;
    border-radius: 50%;
    color: #fff;
    background-image: linear-gradient(to right,#00c0ff, #007eff);
    box-shadow: 0 3px 8px 0 rgba(0,154,255,.26);
}
.pre-audio, .next-audio{
    color: #009aff;
}
.audioReaded, .audioReaded *{
    color: #c4c4c4!important;
}
.audioReading, .audioReading *{
    color: #fff!important;
    background-color: #009aff!important;
}
play-rate{
    display: flex;
    width: 100%;
    margin-top: 24px;
}
play-label{
    font-size: 12px;
    color: #222;
    margin-right: 3px;
}
play-goup{
    position: relative;
    width: calc(100% - 29px);
    height: 20px;
}
play-rate input[type="range"]{
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 2px;
    margin:  0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
}
play-rate input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
}
play-rate input[type=range]::-webkit-slider-thumb {
    position: relative;
    z-index: 9;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
}
play-rate line {
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 6px;
    width: calc(100% - 18px);
    height: 4px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: #eee;
    pointer-events: none;
}
play-rate  line-item{
    height: 2px;
    background-color: #fff;
    z-index: 2;
}
play-rate line line-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to right, rgb(0, 126, 255), rgb(0, 192, 255));
    box-shadow: rgba(0, 154, 255, 0.2) 0px 4px 6px 0px;
    z-index: 1;
}
play-rate line line-bg.toLeft{
    background-image: linear-gradient(to left, rgb(0, 126, 255), rgb(0, 192, 255));
}

.audio-progressBar-box{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 6px;
    z-index: 9999;
    cursor: pointer;
}
.audio-progressBar-box.active:hover .audio-progressBar{
    height: 6px;
}
.audio-progressBar-box.active:hover input[type="range"]{
    visibility: visible;
}
.audio-progressBar-box.active .audio-progressBar{
    height: 2px;
}
.audio-progressBar{
    position: absolute;
    width: 0;
    height: 0px;
    top: 0;
    left:0;
    background-image: linear-gradient(to right, rgb(0, 126, 255), rgb(0, 192, 255));
    box-shadow: rgba(0, 154, 255, 0.2) 0px 4px 6px 0px;
    
    transition:height .3s linear;
}


.audio-progressBar-box input[type="range"]{
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    margin:  0;
    padding: 0;
    border: none;
    outline: none;
    z-index: 99;
    /* background-color: red; */
    background-color: transparent;
    -webkit-appearance: none;
}
.audio-progressBar-box input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
}
.audio-progressBar-box input[type=range]::-webkit-slider-thumb {
    position: relative;
    z-index: 9;
    height: 6px;
    width: 6px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 1px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
}
.toTop{
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    right: -70px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    z-index: 9;
    overflow: hidden;
    cursor: pointer;
}
.toTop:hover:before{
    opacity: 1;
}
.toTop:before{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    content: '';
    transition: opacity .3s;
}
/* .toTop:hover{
    background-color: #f7f7f7;
} */
.toTop > icon{
    font-size: 24px;
    line-height: unset;
}
